.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.todoListWrapper {
  height: 540px;
  overflow-y: auto;
  background: #fff3f4;
  padding: 0 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.todoListWrapper h3 {
  color: #4b4b4b;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.todoListWrapper ul {
  padding: 0;
  list-style-type: none;
}
.todoListWrapper ul li{
  text-align: left;
  position: relative;
}
.todoListWrapper ul li p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  width: 484px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4b4b4b;
}
.todoListWrapper ul li p span {
  color: #a8a8a8;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: -12px;
}
.controls {
  position: absolute;
  top: 0;
  right: 1px;
}
.controls span {
  margin-left: 15px;
  font-size: 20px;
}
span.done {
  color: #6ec367;
}
span.delete {
  color: red;
}
.TodoInput input {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
}
.TodoInput button {
  width: 110px;
  padding: 7px;
  background: #6ec367;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-size: 18px;
}
.strikeText{
  text-decoration: line-through;
}
p.strikeText {
  color: #9bda96 !important;
}